
.navbar {
  background: $color-grey-hard;
}
.navbar__link {
  color: $color-light-soft;
  text-decoration: none;

  &:hover {
    color: $color-light;
  }
}
.navbar__btn {
  @extend .btn;
  @extend .btn--small;
  @extend .btn--hard;
  @extend .btn--positive;
}